{
  "env": {
    "browser": true,
    "node": true
  },
  "extends": ["airbnb", "prettier"],
  "plugins": ["prettier"],
  "parser": "babel-eslint",
  "rules": {
    "prettier/prettier": ["error"],
    "no-nested-ternary": "off",
    "no-underscore-dangle": "off",
    "react/jsx-props-no-spreading": "off",
    "no-shadow": "off",
    "no-unused-expressions": "off",
    "consistent-return": "off",
    "import/no-extraneous-dependencies": "off",
    "react/jsx-filename-extension": [
      1,
      { "extensions": [".js", ".jsx"] }
    ]
  }
}
